[Unit]
Description=H265 File Converter Service
After=network.target

[Service]
ExecStart=/home/RubyScripts/venv/bin/python3 /home/RubyScripts/Scripts/video_converter/videoconverter.py
WorkingDirectory=/home/RubyScripts/Scripts/video_converter/
StandardOutput=journal
StandardError=journal
Restart=always
User=root

[Install]
WantedBy=multi-user.target